<div class='main'>
    <h2 id='greet'>Welcome, {{name}}!</h2>
    <p class='hide' id="userid">{{id}}</p>
    <h3 id='greet'>what would you like to work on today?</h3>
    {{!-- <div class="btn-group" id="focusselector">
  <button type="button" class="btn btn-danger">Change Focus</button>
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu" id='focuses'>
    <a class="dropdown-item">Abs</a>
    <a class="dropdown-item">Arms</a>
    <a class="dropdown-item">Back</a>
    <a class="dropdown-item">Calves</a>
    <a class="dropdown-item">Chest</a>
    <a class="dropdown-item">Legs</a>
    <a class="dropdown-item">Shoulders</a>
    <a class="dropdown-item">Cardio</a>
  </div>
</div> --}}

<select id="focus">
	<option value="1" selected>Abs</option>
	<option value="2">Arms</option>
	<option value="3">Back</option>
    <option value="4">Calves</option>
    <option value="5">Chest</option>
    <option value="6">Legs</option>
    <option value="7">Shoulders</option>
    <option value="8">Cardio</option>
</select>
<button class='btn'id="focusbutton">Submit</button>
</div>

<div class="container">
    <div class="row" id='focus'>
        <div class="col">
    <h3>Based on your Focus Group, here's some suggested exercies for you to incorperate into your next routine:</h3>
    {{#each exercise as |ex|}}
    <br>
    <P>{{ex.name}}</P>
    <br>
    <p>{{ex.description}}</p>
    <br>
    {{/each}}
    </div>
    </div>  
        <div class="row">
            <div class="col" id='middle'>
            Today's Bullshit
        </div>
        </div>
    
    <div class="row" id='video'>
        <div class="col">
            <h4>Here's some workout music</h4>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VdxDnuXj4yc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>
</div>
</div>
<script src='./js/focus.js'/>